body {
  margin: 0;
  background: black;
  padding: 150px;
}

.drive {
  font-family: 'Sangha Kali';
  font-size: 48px;
  border: 0;
  background: red;
  box-shadow: 0 5px 50px red;
  margin: 0;
  position: relative;
  width: 300px;
  color: white;
  overflow: hidden;
  cursor: grab;

  &:focus {
    outline: none;
  }

  &:active {
    cursor: grabbing;
  }

  &__state {
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    transform-origin: left bottom;
    
    &--active {
      position: absolute;
      transform: translateX(100%);
    }
  }
}
