@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap&subset=cyrillic');
@import '~@/styles/_grid.scss';
@import '~@/styles/_globals.scss';
@import '~@/styles/typography.scss';
@import '~@/styles/form.scss';
@import '~@/styles/loading-background.scss';


html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: $--font-face-body;
}

*:focus {
  outline: none;
}

.currentColor {
  fill: currentColor;
}