@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400&display=swap&text=%E2%82%BD');
@import "_grid.scss";
@import "_colors.scss";
@import "_globals.scss";
@import "_transitions.scss";
@import "_typography.scss";

html {
  overflow-y: scroll;
  min-width: 100vh;
  font-family: $font--body;
}

.color-text {
  color: $color-text;
  fill: $color-text;
}

.color-primary {
  color: $color-primary;
  fill: $color-primary;
}

.color-text--contrast {
  color: $color-text--contrast;
  fill: $color-text--contrast;
}

.color-background--contrast {
  color: $color-background--contrast;
  fill: $color-background--contrast;
}
